<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>密碼重設</title>
    </head>
    <body>
        <form action="/signin/" method="post">
            {% csrf_token %}
            <label for="email">用戶email帳號:</label>
            <input type="text" name="email" value="" id="email"> <br/>
            <label for="pass1">用戶新密碼:</label>
            <input type="password" name="pass1" value="" id="pass1"> <br/>
            <label for="pass1">再次輸入新密碼:</label>
            <input type="password" name="pass2" value="" id="pass2"> <br/>
            <input type="submit" value="確認" />
        </form>
    </body>
</html>